.primary-text{
  color:#47a0ce;
}
.primary-background{
  background-color:#47a0ce;
}
.secondary-text{
  color:white;
}
body{
  margin: 0px;
  padding: 0px;
}
#header{
  height:75px;
}
.logo{
  float: left;
  color: white;
  font-size: 20px;
  font-family: helvetica;
  font-weight: lighter;
}
.logo img{
  float: left;
  width: 30%;
  margin: 15px 0px 10px 50px;
}
#footer{
  height:100px;
}
.wrapper{
  height:600px;
  padding:10px;
}
.col-25{
  height:600px;
  width:25%;
  float: left;
}
.profile{
  text-align: center;
  background-color: white;
  margin: 10% 10px;
}
.profile img{
  width: 73%;
}
.border{
  border: 1px solid black;
}
.bio{
  text-align: center;
  margin: 33px 13%;
  width: 73%;
}
.words{
  text-align: center;
}
.words img{
  width:7%;
}
.count{
  display: inline;
  color:#47a0ce;
}
.col-50{
  height:600px;
  width:50%;
  float: left;
}
.followers{
  height: 80px;
  background-color: white;
  margin: 5% 10px;
  padding: 0px;
}
.feed{
  text-align: center;
  height: 400px;
  background-color: white;
  margin: 5% 10px;
}
.tweet{
  float: left;
  text-align: left;
  width: 60%;
  height: 60px;
  margin: 5px 30px;
}
.retweet{
  width:20%;
  height: 30px;
  border-radius: 6px;
  margin: 30px 0px;
  background-color: #47a0ce;
  color: white;
  float:right;
}
.tweetBox{
  width: 90%;
  height: 20%;
}
.whoToFollow{
  text-align: center;
  height: 400px;
  margin: 30px 33px;
}
.whoToFollow img{
  width: 20%
}
#navigation{
  width:10%;
  height: 40px;
  border-radius: 6px;
  margin: 15px 50px 20px 0px;
  background-color: white;
  color: #47a0ce;
  float:right;
  text-align: center;
}
.button{
  margin: 10%;
}
.retweet .button{
  margin: 6px;
}
.followers li{
  display: inline;
  text-decoration: none;
  margin: 15px 15px;
  float:left;
  font-size: 20px;
  font-family: helvetica;
  font-weight: lighter;
}
.followers ul{
  padding: 0px;
}
.words li{
  display: inline;
  margin: 5px 15px;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  font-weight: lighter;
}
.words ul{
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.words img{
  width: 6%;
  margin: 10px 0px 0px 0px;
}
h1{
  font-family: helvetica;
  font-weight:lighter;
  margin-bottom: 10px;
}
h2{
  font-family: helvetica;
  font-weight:lighter;
}
h3{
  font-family: helvetica;
  font-weight:lighter;
  margin: 0px;
}
p{
  font-family: helvetica;
  font-weight: lighter;
}
hr{
  border: none;
  background-color: black;
  height: 1px;
  width: 90%;
}
.tweet h2{
  margin: -10px 0px;
}